/* цвет <p> #757575 */
/* цвет <h2-h6> #212121 */
/* цвет logo #2196F3 и #000000 */
/* цвет <h1> #FFFFFF */
/* footer: адресс #FFFFFF, телефон и почта rgba(255, 255, 255, 0.6) */

:root {
  --title-text-color: #212121;
  --ptimary-text-color: #757575;
  --accent-color: #2196f3;
  --a-color-black: #000000;
  --a-color-white: #ffffff;
  --team-bg-color: #f5f4fa;
  --button-hov-foc-color: #188ce8;
  --button-color-white: #ffffff;
  --btn-bgc-portfolio: #f5f4fa;
  --footer-hero-background-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --footer-color-contact: rgba(255, 255, 255, 0.6);
  --border-color-portfolio: #eeeeee;
  --background-svg-color: #f5f4fa;
  --customers-color: #afb1b8;
  --invitation-bg-color: rgba(255, 255, 255, 0.1);
  --invitation-icon-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--a-color-white);
  color: var(--ptimary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  text-decoration: dashed;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

.section-width {
  min-width: 1200px;
}

/* decor header */



/* decor Hero */



/* decor Description */



/* decor Team */





/* decor Footer */


/* decor Portfolio */



.img-description {
  padding: 24px 20px;
  border-left: 1px solid var(--border-color-portfolio);
  border-bottom: 1px solid var(--border-color-portfolio);
  border-right: 1px solid var(--border-color-portfolio);
}

/* decor Modal-Window */

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #ffffff;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.model-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-close:hover,
.model-close:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.input-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--ptimary-text-color);
}

.input-label span {
  display: block;
  margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 10px;
}

.modal-field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-field:nth-child(5) {
  margin-bottom: 0;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: 12px;
  color: var(--a-color-black);
  padding-left: 40px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-feedback {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-feedback::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-input:hover,
.modal-input:focus,
.modal-feedback:hover,
.modal-feedback:focus {
  border-color: var(--accent-color);
}

.modal-input-icon {
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon,
.modal-input-icon:hover,
.modal-input-icon:focus {
  fill: var(--accent-color);
}

.check-rules,
.rules-btn {
  display: flex;
  justify-content: center;
}

.user-rules-text {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--ptimary-text-color);
  display: flex;
}

.user-rules-link {
  padding-left: 3px;
  color: var(--accent-color);
}

.user-rules-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--a-color-black);
  border-radius: 3px;
  margin-right: 5px;
}

.user-rules:checked + .user-rules-text::before {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
}

.user-rules:focus + .user-rules-text::before {
  border-color: var(--accent-color);
}

.user-rules-btn {
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 52px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  text-align: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--button-color-white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-rules-btn:hover,
.user-rules-btn:focus {
  background-color: var(--button-hov-foc-color);
}

.rules-btn {
  margin-top: 30px;
}
